* {
  color: antiquewhite;
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

* {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(circle, #051937, #171228, #190a1a, #12040d, #000000);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  background-image: radial-gradient(circle, #051937, #171228, #190a1a, #12040d, #000000);
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 200px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  body{
    overflow: scroll;
  }
  section{
    margin: 10px;
    transform: translateY(100px);
  }

  .tbl-content{
    height: auto  !important;
  }
}